@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body{
    font-family: 'Bree Serif', serif;
    }
body{
    background-color: #caecdd;
    }
    hr{
        border-color: #f7f5f3;
        border-style: groove;
        border-width: 5px;
        width: 100%;
        }
        h1, h2,h3,h4,h5{
            color: #da0505;
            }